input{
  background: inherit;
  border: 0;
  outline: none;
  width: 400px;
  height: 100px;
  cursor: pointer;
  font-size: 48px;
  text-align: end;
  color: #7a7a8c;
}

.input-container {
  width: 400px;
  height: 100px;
  margin: 0 auto 0 auto;
}

.result-text {
  color: antiquewhite;
}


.calculator-body  {
  margin: 0 auto 0 auto;
  width: 400px;
  height: 400px;
  position: relative;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  background: #112;
}
.grid-container {
  width: 100%;
  height: 100%;
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-template-rows: repeat(4, 1fr);
}

.grid-item{
  margin: 2px;
  transition: .8s;
}

.highlight {
  position: absolute;
  pointer-events: none;
  visibility: hidden;
  /*noinspection CssInvalidPropertyValue*/
  -webkit-mask-image: radial-gradient(circle at center, white 0%, transparent 160px);
  -webkit-mask-repeat: no-repeat;
  -webkit-mask-size: 320px 320px;
}

.calculator-container:hover .highlight {
  visibility: visible;
}

.highlight .grid-item {
  border: 3px solid #cd7bff;
}

.number-layer .grid-item {
  color: #cd7bff;
  font-size: 32px;
  text-align: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
  cursor: pointer;
}
.number-layer .grid-item:hover {
  border: 2px solid #cd7bff;
}

.number-layer .grid-item span:last-child {
  font-size: 32px;
}

.grid-item:hover {
  background-color: #58586a;
}
