/* You can add global styles to this file, and also import other style files */
@import url('https://fonts.googleapis.com/css2?family=DM+Mono:wght@300;400;500&display=swap');

.card-list {
  display: flex;
  flex-direction: column;
  padding: 3rem;
  overflow-x: visible;
  overflow-y: scroll;
  height: 100%;
}

.card-list::-webkit-scrollbar {
  width: 10px;
  height: 10px;
}

.card-list::-webkit-scrollbar-track {
  background: linear-gradient(90deg,#201c29,#201c29 1px,#17141d 0,#17141d);
}

.card-list::-webkit-scrollbar-thumb {
  background: #201c29;
  border-radius: 10px;
  box-shadow: inset 2px 2px 2px hsla(0,0%,100%,.25), inset -2px -2px 2px rgba(0,0,0,.25);
}

.card {
  display: flex;
  position: relative;
  flex-direction: column;
  background-clip: padding-box;
  height: 350px;
  width: 250px;
  min-width: 250px;
  padding: 1.5rem;
  border-radius: 16px;
  background: #17141d;
  box-shadow: -1rem -1rem 3rem #000;
}

.card-container {
  padding-right: 6000px;
  transition: .4s;
  user-select: none;
}

.card-container:hover {
  transform: translateX(-45px);
}

.card-container {
  transform: translateX(185px);
}

.card-container:not(:first-child) {
  margin-top: -280px;
}
